<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Header</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet"  href="shop.css">
      <link rel = "stylesheet" href = "account-orders.css">
      <style>
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600&display=swap');
          
/*
          .modal.right.fade.show .modal-dialog {
    right: 0;
}
*/
</style>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://unpkg.com/feather-icons"></script>
  </head>
    <body>
        
<!--        BREADCRUMB-->
<nav class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Breadcrumb -->
            <ol class="breadcrumb mb-0 font-size-xs text-gray-400">
              <li class="breadcrumb-item">
                <a class="text-gray-400" href="home-new.html">Home</a>
              </li>
              <li class="breadcrumb-item active">
                My Account
              </li>
            </ol>

          </div>
        </div>
      </div>
    </nav>

<!--        CONTENT-->
        <section class="pt-7 pb-12">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">

            <!-- Heading -->
            <h3 class="mb-10">My Account</h3>

          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-3">

            <!-- Nav -->
            <nav class="mb-10 mb-md-0">
              <div class="list-group list-group-sm list-group-strong list-group-flush-x">
                <a class="list-group-item list-group-item-action dropright-toggle " href="account-personal-info.html">
                  Personal Info
                </a>
                <a class="list-group-item list-group-item-action dropright-toggle active " href="account-address.html">
                  Addresses
                </a>
                <a class="list-group-item list-group-item-action dropright-toggle" href="#!">
                  Logout
                </a>
              </div>
            </nav>


          </div>
            <div class="col-12 col-md-9 col-lg-8 offset-lg-1">
            <div class="row">
              <div class="col-12 col-lg-6">

                <!-- Card -->
                <div class="card card-lg bg-light mb-8">
                  <div class="card-body">

                    <!-- Heading -->
                    <h6 class="mb-6">
                      Shipping Address
                    </h6>

                    <!-- Text -->
                    <p class="text-muted mb-0">
                      Daniel Robinson <br>
                      3997 Raccoon Run <br>
                      Kingston <br>
                      45644 <br>
                      United States <br>
                      6146389574
                    </p>

                    <!-- Action -->
                    <div class="card-action card-action-right">

                      <!-- Button -->
                      <a class="btn btn-xs btn-circle btn-white-primary" href="account-address-edit.html">
                        <i class="fe fe-edit-2"></i>
                      </a>

                      <!-- Button -->
                      <button class="btn btn-xs btn-circle btn-white-primary">
                        <i class="fe fe-x"></i>
                      </button>

                    </div>

                  </div>
                </div>

              </div>
              <div class="col-12 col-lg-6">

                <!-- Card -->
                <div class="card card-lg bg-light mb-8">
                  <div class="card-body">

                    <!-- Heading -->
                    <h6 class="mb-6">
                      Billing Address
                    </h6>

                    <!-- Text -->
                    <p class="text-muted mb-0">
                      Daniel Robinson <br>
                      3997 Raccoon Run <br>
                      Kingston <br>
                      45644 <br>
                      United States <br>
                      6146389574
                    </p>

                    <!-- Action -->
                    <div class="card-action card-action-right">

                      <!-- Button -->
                      <a class="btn btn-xs btn-circle btn-white-primary" href="account-address-edit.html">
                        <i class="fe fe-edit-2"></i>
                      </a>

                      <!-- Button -->
                      <button class="btn btn-xs btn-circle btn-white-primary">
                        <i class="fe fe-x"></i>
                      </button>

                    </div>

                  </div>
                </div>

              </div>
              <div class="col-12">

                <!-- Button -->
                <a class="btn btn-block btn-lg btn-outline-border" href="account-address-edit.html">
                  Add Address <i class="fe fe-plus"></i>
                </a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
        
        
        
            <script src="bootstrap/js/bootstrap.min.js"></script>
        <script>
      feather.replace()
    </script>
      <script src="https://kit.fontawesome.com/8039564289.js" crossorigin="anonymous"></script>
        
  </body>
</html>