<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NDTP</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet"  href="Admin.css">
      <style>
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@600&family=Lato&family=Nova+Square&display=swap');
</style>
  </head>
    
  <body>

    <div class = "container-fuild">
      <div class = "justify-content-center d-flex" style="background-color: #FA9AB1">
        <div  class="d-flex align-items-center" style = "height:30px;">
               <b  style="color:black; font-family: 'Lato', sans-serif; font-size: 13px ">YOU’RE SIGNING AS ADMIN</b>
        </div>
      </div>
      
        <div class = "row justify-content-end" style="background-color: white">
    
           <div  class="col-4 text-center" style = "height:80px; font-size: 50px">
               <p  style="color:black;font-family: 'Kodchasan', sans-serif;">NDTP</p>
        </div>
            
<!--            PROFILE-->
            <div class ="col-4 "> 
              <i class="far fa-user 3x" style = "padding-top: 20px;padding-left: 75%; color: black; font-size: 30px"></i>
            
            </div>
                
      </div>
<!--      MENU-->
      <div style="background-color: #EFEEEF;">
        
        <div class="btn-group col align-self-center" style = "padding-left: 30%;padding-right: 30%" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-menu">PRODUCTS</button>
          <button type="button" class="btn btn-menu">NEWS</button>
          <button type="button" class="btn btn-menu">BILLS</button>
          <button type="button" class="btn btn-menu">STATISTICAL</button>
          <button type="button" class="btn btn-menu">PROMOTION</button>
        </div>
          
      </div>
    </div>
      
     
      
    
    <script src="bootstrap/js/bootstrap.min.js"></script>
      <script src="https://kit.fontawesome.com/8039564289.js" crossorigin="anonymous"></script>
  </body>
</html>