<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet"  href="Admin.css">
      <style>
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@600&family=Lato&family=Nova+Square&display=swap');
</style>
  </head>
    
  <body>


      
    
    <script src="bootstrap/js/bootstrap.min.js"></script>
      <script src="https://kit.fontawesome.com/8039564289.js" crossorigin="anonymous"></script>
  </body>
</html>