<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Shop</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet"  href="shop.css">
      <style>
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600&display=swap');
          
          .modal.right.fade.show .modal-dialog {
    right: 0;
}
</style>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://unpkg.com/feather-icons"></script>
  </head>
    
    <body>
    
                <div class = "container" >
            <div class = "row justify-content-center" style = "padding: 24px 0px 24px 0px;">
<!--               Brand-->
                <a class="col-3 n-brand" href="/Views/home-new.html">
          Shopper
        </a>
<!--                Collapse-->
                <ul class=" col-6 nav nav-unstyled">
  <li class="nav-item">
    <a class="nav-link" href="/Views/home-new.html" >Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Views/shop.html">Catalog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#!">Contact Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#!">News</a>
  </li>
</ul>
<!--                Icon-->
                <div class = "col-3 row" style = " padding-top:0px">
                    
                    <button class="btn" type="button" data-toggle="modal" data-target="#modalSearch">
                        <i data-feather="search" style = "width: 20px;height: 20px ;"></i>
                    </button>
                    
                     <i class = "col" data-feather="user" style = "width: 20px;height: 20px ;"></i>
                     <i class = "col" data-feather="heart" style = "width: 20px;height: 20px ;"></i>
                    
                    
                    <button class="btn" type="button" data-toggle="modal" data-target="#modalShoppingCart">
                        <i data-feather="shopping-cart" style = "width: 20px;height: 20px ;"></i> 
                    </button>
                            

                     
                </div>
                           
            </div>
        </div>
<!--        Modals-->
        <!-- Shopping Cart -->
    <div class="modal fade fixed-right right" id="modalShoppingCart" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-vertical" role="document">

        <!-- Full cart (add `.d-none` to disable it) -->
        <div class="modal-content">

          <!-- Close -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fe fe-x" aria-hidden="true"></i>
          </button>

          <!-- Header-->
          <div class="modal-header line-height-fixed font-size-lg">
            <strong class="mx-auto">Your Cart (2)</strong>
          </div>

          <!-- List group -->
          <ul class="list-group list-group-lg list-group-flush">
            <li class="list-group-item">
              <div class="row align-items-center">
                <div class="col-4">

                  <!-- Image -->
                  <a href="./product.html">
                    <img class="img-fluid" src="img/clothing2.png" alt="...">
                  </a>

                </div>
                <div class="col-8">

                  <!-- Title -->
                  <p class="font-size-sm font-weight-bold mb-6">
                    <a class="text-body" href="./product.html">Cotton floral print Dress</a> <br>
                    <span class="text-muted">$40.00</span>
                  </p>

                  <!--Footer -->
                  <div class="d-flex align-items-center">

                    <!-- Select -->
                    <select class="custom-select custom-select-xxs w-auto">
                      <option value="1">1</option>
                      <option value="1">2</option>
                      <option value="1">3</option>
                    </select>

                    <!-- Remove -->
                    <a class="font-size-xs text-gray-400 ml-auto" href="#!">
                      <i class="fe fe-x"></i> Remove
                    </a>

                  </div>

                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row align-items-center">
                <div class="col-4">

                  <!-- Image -->
                  <a href="./product.html">
                    <img class="img-fluid" src="img/clothing1.png" alt="...">
                  </a>

                </div>
                <div class="col-8">

                  <!-- Title -->
                  <p class="font-size-sm font-weight-bold mb-6">
                    <a class="text-body" href="./product.html">Suede cross body Bag</a> <br>
                    <span class="text-muted">$49.00</span>
                  </p>

                  <!--Footer -->
                  <div class="d-flex align-items-center">

                    <!-- Select -->
                    <select class="custom-select custom-select-xxs w-auto">
                      <option value="1">1</option>
                      <option value="1">2</option>
                      <option value="1">3</option>
                    </select>

                    <!-- Remove -->
                    <a class="font-size-xs text-gray-400 ml-auto" href="#!">
                      <i class="fe fe-x"></i> Remove
                    </a>

                  </div>

                </div>
              </div>
            </li>
          </ul>

          <!-- Footer -->
          <div class="modal-footer line-height-fixed font-size-sm bg-light mt-auto">
            <strong>Subtotal</strong> <strong class="ml-auto">$89.00</strong>
          </div>

          <!-- Buttons -->
          <div class="modal-body">
            <a class="btn btn-block btn-dark" href="./checkout.html">Continue to Checkout</a>
            <a class="btn btn-block btn-outline-dark" href="./shopping-cart.html">View Cart</a>
          </div>

        </div>

        <!-- Empty cart (remove `.d-none` to enable it) -->
        <div class="modal-content d-none">

          <!-- Close -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fe fe-x" aria-hidden="true"></i>
          </button>

          <!-- Header-->
          <div class="modal-header line-height-fixed font-size-lg">
            <strong class="mx-auto">Your Cart (0)</strong>
          </div>

          <!-- Body -->
          <div class="modal-body flex-grow-0 my-auto">

            <!-- Heading -->
            <h6 class="mb-7 text-center">Your cart is empty 😞</h6>

            <!-- Button -->
            <a class="btn btn-block btn-outline-dark" href="#!">
              Continue Shopping
            </a>

          </div>

        </div>

      </div>
    </div>
            <!-- Search -->
    <div class="modal fixed-right fade" id="modalSearch" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-vertical" role="document">
        <div class="modal-content">

          <!-- Close -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fe fe-x" aria-hidden="true"></i>
          </button>

          <!-- Header-->
          <div class="modal-header line-height-fixed font-size-lg">
            <strong class="mx-auto">Search Products</strong>
          </div>

          <!-- Body: Form -->
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label class="sr-only" for="modalSearchCategories">Categories:</label>
                <select class="custom-select" id="modalSearchCategories">
                  <option selected>All Categories</option>
                  <option>Women</option>
                  <option>Men</option>
                </select>
              </div>
              <div class="input-group input-group-merge">
                <input class="form-control" type="search" placeholder="Search">
                <div class="input-group-append">
                  <button class="btn btn-outline-border" type="submit">
                    <i data-feather="search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>

          <!-- Body: Results (add `.d-none` to disable it) -->
          <div class="modal-body border-top font-size-sm">

            <!-- Heading -->
            <p>Search Results:</p>

            <!-- Items -->
            <div class="row align-items-center position-relative mb-5">
              <div class="col-4 col-md-3">

                <!-- Image -->
                <img class="img-fluid" src="img/product-1.jpg" alt="...">

              </div>
              <div class="col position-static">

                <!-- Text -->
                <p class="mb-0 font-weight-bold">
                  <a class="stretched-link text-body" href="./product.html">Leather mid-heel Sandals</a> <br>
                  <span class="text-muted">$129.00</span>
                </p>

              </div>
            </div>
            <div class="row align-items-center position-relative mb-5">
              <div class="col-4 col-md-3">

                <!-- Image -->
                <img class="img-fluid" src="img/product-2.jpg" alt="...">

              </div>
              <div class="col position-static">

                <!-- Text -->
                <p class="mb-0 font-weight-bold">
                  <a class="stretched-link text-body" href="./product.html">Cotton floral print Dress</a> <br>
                  <span class="text-muted">$40.00</span>
                </p>

              </div>
            </div>
            <div class="row align-items-center position-relative mb-5">
              <div class="col-4 col-md-3">

                <!-- Image -->
                <img class="img-fluid" src="img/product-3.jpg" alt="...">

              </div>
              <div class="col position-static">

                <!-- Text -->
                <p class="mb-0 font-weight-bold">
                  <a class="stretched-link text-body" href="./product.html">Leather Sneakers</a> <br>
                  <span class="text-muted">$85.00</span>
                </p>

              </div>
            </div>

            <!-- Button -->
            <a class="btn btn-link px-0 text-reset" href="./shop.html">
              View All <i class="fe fe-arrow-right ml-2"></i>
            </a>

          </div>

          <!-- Body: Empty (remove `.d-none` to disable it) -->
          <div class="d-none modal-body">

            <!-- Text -->
            <p class="mb-3 font-size-sm text-center">
              Nothing matches your search
            </p>
            <p class="mb-0 font-size-sm text-center">
              😞
            </p>

          </div>

        </div>
      </div>
    </div>    
        
<!--        Promo-->
        <div class = "row bg-dark">
            <div class = "col-12">
<!--                Text-->
                <div class = "n-promo" style = "'">
                    <span> ⚡️ HAPPY HOLIDAY DEALS ON EVERYTHING ⚡️ </span>
                </div>
            </div>
            
        </div>
        
<!--        CONTENT-->
<div class = "container">
    <div class = "row">
        <div class = "col-12 col-md-4 col-lg-3">
<!--            Filter-->
            <form class="mb-10 mb-md-0">
              <ul class="nav nav-vertical" id="filterNav">
                <li class="nav-item">

                  <!-- Toggle -->
                  <a class="nav-link dropdown-toggle font-size-lg text-reset border-bottom mb-6" data-toggle="collapse" href="#categoryCollapse">
                    Category
                  </a>

                  <!-- Collapse -->
                  <div class="show" id="categoryCollapse">
                    <div class="">
                      <ul class="mb-0" id="productsNav">
                        <li>
                          <a class="n-filter-title" href="/Views/shop.html">
                            All Products
                          </a>
                        </li>
                        <li>

                          <!-- Toggle -->
                          <a class="n-filter-title" data-toggle="collapse" href="#blousesCollapse">
                            Blouses and Shirts
                          </a>

                          <!-- Collapse -->
                          <div class="collapse" id="blousesCollapse" data-parent="#productsNav">
                            <div class="py-4 pl-5">
                              <div class="custom-control custom-checkbox mb-3">
                                <input class="custom-control-input" id="blousesOne" type="checkbox">
                                <label class="custom-control-label" for="blousesOne">
                                  Women Tops, Tees & Blouses
                                </label>
                              </div>
                              <div class="custom-control custom-checkbox mb-3">
                                <input class="custom-control-input" id="blousesTwo" type="checkbox">
                                <label class="custom-control-label" for="blousesTwo">
                                  Petite
                                </label>
                              </div>
                              <div class="custom-control custom-checkbox mb-3">
                                <input class="custom-control-input" id="blousesThree" type="checkbox">
                                <label class="custom-control-label" for="blousesThree">
                                  Petite-Size Blouses & Button-Down Shirts
                                </label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="blousesFour" type="checkbox">
                                <label class="custom-control-label" for="blousesFour">
                                  Women Plus Tops & Tees
                                </label>
                              </div>
                            </div>
                          </div>

                        </li>
                        <li class="list-styled-item">

                          <!-- Toggle -->
                          <a class="list-styled-link n-filter-title" data-toggle="collapse" href="#coatsCollapse">
                            Coats and Jackets
                          </a>

                          <!-- Collapse -->
                          <div class="collapse" id="coatsCollapse" data-parent="#productsNav">
                            <div class="py-4 pl-5">
                              <div class="custom-control custom-checkbox mb-3">
                                <input class="custom-control-input" id="coatsOne" type="checkbox">
                                <label class="custom-control-label" for="coatsOne">
                                  Coats, Jackets & Vests
                                </label>
                              </div>
                              <div class="custom-control custom-checkbox mb-3">
                                <input class="custom-control-input" id="coatsTwo" type="checkbox">
                                <label class="custom-control-label" for="coatsTwo">
                                  Down Jackets & Parkas
                                </label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="coatsThree" type="checkbox">
                                <label class="custom-control-label" for="coatsThree">
                                  Wool & Pea Coats Plus-Size
                                </label>
                              </div>
                            </div>
                          </div>

                        </li>
                        <li class="list-styled-item">

                          <!-- Toggle -->
                          <a class="list-styled-link n-filter-title" data-toggle="collapse" href="#dressesCollapse" aria-expanded="true">
                            Dresses
                          </a>

                          <!-- Collapse -->
                          <div class="collapse show" id="dressesCollapse" data-parent="#productsNav">
                            <div class="py-4 pl-5">
                              <div class="custom-control custom-checkbox mb-3">
                                <input class="custom-control-input" id="dressesOne" type="checkbox">
                                <label class="custom-control-label" for="dressesOne">
                                  A-line Dresses
                                </label>
                              </div>
                              <div class="custom-control custom-checkbox mb-3">
                                <input class="custom-control-input" id="dressesTwo" type="checkbox" checked>
                                <label class="custom-control-label" for="dressesTwo">
                                  Shift Dresses
                                </label>
                              </div>
                              <div class="custom-control custom-checkbox mb-3">
                                <input class="custom-control-input" id="dressesThree" type="checkbox">
                                <label class="custom-control-label" for="dressesThree">
                                  Wrap Dresses
                                </label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="dressesFour" type="checkbox">
                                <label class="custom-control-label" for="dressesFour">
                                  Maxi Dresses
                                </label>
                              </div>
                            </div>
                          </div>

                        </li>
                        <li class="list-styled-item">

                          <!-- Toggle -->
                          <a class="list-styled-link n-filter-title" data-toggle="collapse" href="#hoodiesCollapse">
                            Hoodies and Sweats
                          </a>

                          <!-- Collapse -->
                          <div class="collapse" id="hoodiesCollapse" data-parent="#productsNav">
                            <div class="py-4 pl-5">
                              <div class="custom-control custom-checkbox mb-3">
                                <input class="custom-control-input" id="hoodiesOne" type="checkbox">
                                <label class="custom-control-label" for="hoodiesOne">
                                  Activewear
                                </label>
                              </div>
                              <div class="custom-control custom-checkbox mb-3">
                                <input class="custom-control-input" id="hoodiesTwo" type="checkbox">
                                <label class="custom-control-label" for="hoodiesTwo">
                                  Fashion Hoodies & Sweatshirts
                                </label>
                              </div>
                              <div class="custom-control custom-checkbox mb-3">
                                <input class="custom-control-input" id="hoodiesThree" type="checkbox">
                                <label class="custom-control-label" for="hoodiesThree">
                                  Big & Tall Sweatshirts
                                </label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="hoodiesFour" type="checkbox">
                                <label class="custom-control-label" for="hoodiesFour">
                                  Big & Tall Fashion Hoodies
                                </label>
                              </div>
                            </div>
                          </div>

                        </li>
                        <li class="list-styled-item">

                          <!-- Toggle -->
                          <a class="n-filter-title" data-toggle="collapse" href="#denimCollapse">
                            Denim
                          </a>

                          <!-- Collapse -->
                          <div class="collapse" id="denimCollapse" data-parent="#productsNav">
                            <div class="py-4 pl-5">
                              <div class="custom-control custom-checkbox mb-3">
                                <input class="custom-control-input" id="denimOne" type="checkbox">
                                <label class="custom-control-label" for="denimOne">
                                  Women Shorts
                                </label>
                              </div>
                              <div class="custom-control custom-checkbox mb-3">
                                <input class="custom-control-input" id="denimTwo" type="checkbox">
                                <label class="custom-control-label" for="denimTwo">
                                  Juniors' Shorts
                                </label>
                              </div>
                              <div class="custom-control custom-checkbox mb-3">
                                <input class="custom-control-input" id="denimThree" type="checkbox">
                                <label class="custom-control-label" for="denimThree">
                                  Petite
                                </label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="denimFour" type="checkbox">
                                <label class="custom-control-label" for="denimFour">
                                  Women Plus Shorts
                                </label>
                              </div>
                            </div>
                          </div>

                        </li>
                        <li class="list-styled-item">

                          <!-- Toggle -->
                          <a class="n-filter-title" data-toggle="collapse" href="#jeansCollapse">
                            Jeans
                          </a>

                          <!-- Collapse -->
                          <div class="collapse" id="jeansCollapse" data-parent="#productsNav">
                            <div class="py-4 pl-5">
                              <div class="custom-control custom-checkbox mb-3">
                                <input class="custom-control-input" id="jeansOne" type="checkbox">
                                <label class="custom-control-label" for="jeansOne">
                                  Men Jeans
                                </label>
                              </div>
                              <div class="custom-control custom-checkbox mb-3">
                                <input class="custom-control-input" id="jeansTwo" type="checkbox">
                                <label class="custom-control-label" for="jeansTwo">
                                  Men Big & Tall Jeans
                                </label>
                              </div>
                              <div class="custom-control custom-checkbox mb-3">
                                <input class="custom-control-input" id="jeansThree" type="checkbox">
                                <label class="custom-control-label" for="jeansThree">
                                  Surf, Skate & Street Clothing
                                </label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="jeansFour" type="checkbox">
                                <label class="custom-control-label" for="jeansFour">
                                  Men Big & Tall Pants
                                </label>
                              </div>
                            </div>
                          </div>

                        </li>
                        <li class="">

                          <!-- Toggle -->
                          <a class="list-styled-link n-filter-title" data-toggle="collapse" href="#jumpersCollapse">
                            Jumpers and Cardigans
                          </a>

                          <!-- Collapse -->
                          <div class="collapse" id="jumpersCollapse" data-parent="#productsNav">
                            <div class="py-4 pl-5">
                              <div class="custom-control custom-checkbox mb-3">
                                <input class="custom-control-input" id="jumpersOne" type="checkbox">
                                <label class="custom-control-label" for="jumpersOne">
                                  Sweaters Plus-Size
                                </label>
                              </div>
                              <div class="custom-control custom-checkbox mb-3">
                                <input class="custom-control-input" id="jumpersTwo" type="checkbox">
                                <label class="custom-control-label" for="jumpersTwo">
                                  Plus Sweaters
                                </label>
                              </div>
                              <div class="custom-control custom-checkbox mb-3">
                                <input class="custom-control-input" id="jumpersThree" type="checkbox">
                                <label class="custom-control-label" for="jumpersThree">
                                  Petite Cardigans
                                </label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="jumpersFour" type="checkbox">
                                <label class="custom-control-label" for="jumpersFour">
                                  Tops, Tees & Blouses
                                </label>
                              </div>
                            </div>
                          </div>

                        </li>
                        <li class="list-styled-item">

                          <!-- Toggle -->
                          <a class="list-styled-link n-filter-title" data-toggle="collapse" href="#legginsCollapse">
                            Leggings
                          </a>

                          <!-- Collapse -->
                          <div class="collapse" id="legginsCollapse" data-parent="#productsNav">
                            <div class="py-4 pl-5">
                              <div class="custom-control custom-checkbox mb-3">
                                <input class="custom-control-input" id="legginsOne" type="checkbox">
                                <label class="custom-control-label" for="legginsOne">
                                  Novelty Leggings
                                </label>
                              </div>
                              <div class="custom-control custom-checkbox mb-3">
                                <input class="custom-control-input" id="legginsTwo" type="checkbox">
                                <label class="custom-control-label" for="legginsTwo">
                                  Novelty Pants & Capris
                                </label>
                              </div>
                              <div class="custom-control custom-checkbox mb-3">
                                <input class="custom-control-input" id="legginsThree" type="checkbox">
                                <label class="custom-control-label" for="legginsThree">
                                  Women Yoga Leggings
                                </label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="legginsFour" type="checkbox">
                                <label class="custom-control-label" for="legginsFour">
                                  Workout & Training Leggings
                                </label>
                              </div>
                            </div>
                          </div>

                        </li>
                      </ul>
                    </div>
                  </div>

                </li>

                <li class="nav-item">

                  <!-- Toggle -->
                  <a class="nav-link dropdown-toggle font-size-lg text-reset border-bottom mb-6" data-toggle="collapse" href="#sizeCollapse">
                    Size
                  </a>

                  <!-- Collapse -->
                  <div class="collapse" id="sizeCollapse" data-toggle="simplebar" data-target="#sizeGroup">
                    <div class="form-group form-group-overlow mb-6" id="sizeGroup">
                      <div class="custom-control custom-control-inline custom-control-size mb-2">
                        <input class="custom-control-input" id="sizeOne" type="checkbox">
                        <label class="custom-control-label" for="sizeOne">
                          3XS
                        </label>
                      </div>
                      <div class="custom-control custom-control-inline custom-control-size mb-2">
                        <input class="custom-control-input" id="sizeTwo" type="checkbox" disabled>
                        <label class="custom-control-label" for="sizeTwo">
                          2XS
                        </label>
                      </div>
                      <div class="custom-control custom-control-inline custom-control-size mb-2">
                        <input class="custom-control-input" id="sizeThree" type="checkbox">
                        <label class="custom-control-label" for="sizeThree">
                          XS
                        </label>
                      </div>
                      <div class="custom-control custom-control-inline custom-control-size mb-2">
                        <input class="custom-control-input" id="sizeFour" type="checkbox">
                        <label class="custom-control-label" for="sizeFour">
                          S
                        </label>
                      </div>
                      <div class="custom-control custom-control-inline custom-control-size mb-2">
                        <input class="custom-control-input" id="sizeFive" type="checkbox" checked>
                        <label class="custom-control-label" for="sizeFive">
                          M
                        </label>
                      </div>
                      <div class="custom-control custom-control-inline custom-control-size mb-2">
                        <input class="custom-control-input" id="sizeSix" type="checkbox">
                        <label class="custom-control-label" for="sizeSix">
                          L
                        </label>
                      </div>
                      <div class="custom-control custom-control-inline custom-control-size mb-2">
                        <input class="custom-control-input" id="sizeSeven" type="checkbox">
                        <label class="custom-control-label" for="sizeSeven">
                          XL
                        </label>
                      </div>
                      <div class="custom-control custom-control-inline custom-control-size mb-2">
                        <input class="custom-control-input" id="sizeEight" type="checkbox" disabled>
                        <label class="custom-control-label" for="sizeEight">
                          2XL
                        </label>
                      </div>
                      <div class="custom-control custom-control-inline custom-control-size mb-2">
                        <input class="custom-control-input" id="sizeNine" type="checkbox">
                        <label class="custom-control-label" for="sizeNine">
                          3XL
                        </label>
                      </div>
                      <div class="custom-control custom-control-inline custom-control-size mb-2">
                        <input class="custom-control-input" id="sizeTen" type="checkbox">
                        <label class="custom-control-label" for="sizeTen">
                          4XL
                        </label>
                      </div>
                      <div class="custom-control custom-control-inline custom-control-size mb-2">
                        <input class="custom-control-input" id="sizeEleven" type="checkbox">
                        <label class="custom-control-label" for="sizeEleven">
                          One Size
                        </label>
                      </div>
                    </div>
                  </div>

                </li>

                <li class="nav-item">

                  <!-- Toggle -->
                  <a class="nav-link dropdown-toggle font-size-lg text-reset border-bottom mb-6" data-toggle="collapse" href="#priceCollapse">
                    Price
                  </a>

                  <!-- Collapse -->
                  <div class="collapse" id="priceCollapse" data-toggle="simplebar" data-target="#priceGroup">

                    <!-- Form group-->
                    <div class="form-group form-group-overflow mb-6" id="priceGroup">
                      <div class="custom-control custom-checkbox mb-3">
                        <input class="custom-control-input" id="priceOne" type="checkbox" checked>
                        <label class="custom-control-label" for="priceOne">
                          $10.00 - $49.00
                        </label>
                      </div>
                      <div class="custom-control custom-checkbox mb-3">
                        <input class="custom-control-input" id="priceTwo" type="checkbox" checked>
                        <label class="custom-control-label" for="priceTwo">
                          $50.00 - $99.00
                        </label>
                      </div>
                      <div class="custom-control custom-checkbox mb-3">
                        <input class="custom-control-input" id="priceThree" type="checkbox">
                        <label class="custom-control-label" for="priceThree">
                          $100.00 - $199.00
                        </label>
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="priceFour" type="checkbox">
                        <label class="custom-control-label" for="priceFour">
                          $200.00 and Up
                        </label>
                      </div>
                    </div>

                    <!-- Range -->
                    <div class="d-flex align-items-center">

                      <!-- Input -->
                      <input type="number" class="form-control form-control-xs" placeholder="$10.00" min="10">

                      <!-- Divider -->
                      <div class="text-gray-350 mx-2">‒</div>

                      <!-- Input -->
                      <input type="number" class="form-control form-control-xs" placeholder="$350.00" max="350">

                    </div>

                  </div>

                </li>
              </ul>
            </form>

            
            
            
            
            
            
        </div>
        
<!--        ------------------>
        <div class = "col-12 col-md-8 col-lg-9">
<!--            Slider-->
            <div class="flickity-page-dots-inner mb-9" data-flickity='{"pageDots": true}'>

              <!-- Item -->
              <div class="w-100">
                <div class="card bg-h-100 bg-left" style="background-image: url(img/panner-4.jpg);">
                  <div class="row" style="min-height: 400px;">
                    <div class="col-12 col-md-10 col-lg-8 col-xl-6 align-self-center">
                      <div class="card-body px-md-10 py-11">

                        <!-- Heading -->
                        <h2>
                          2019 Summer Collection
                        </h2>

                        <!-- Button -->
                        <a class="btn btn-link px-0 text-body n-view-collection" href="/Views/shop.html">
                          View Collection <i data-feather="arrow-right" style = "width: 17px;height: 17px ;"></i>
                        </a>

                      </div>
                    </div>
                    <div class="col-12 col-md-2 col-lg-4 col-xl-6 d-none d-md-block bg-cover" style="background-image: url(img/panner-6.jpg);"></div>
                  </div>
                </div>
              </div>
        </div>
<!--            Header-->
            <div class="row align-items-center mb-7" style = "padding-top:50px">
              <div class="col-12 col-md">

                <!-- Heading -->
                <h3 class="mb-1">Womens' Clothing</h3>

                <!-- Breadcrumb -->
                <ol class="breadcrumb mb-3 text-gray-400">
                      <li class="breadcrumb-item">
                        <a class="text-gray-400" href="/Views/home-new.html">Home</a>
                      </li>
                      <li class="breadcrumb-item">
                        <a class="text-gray-400" href="/Views/shop.html">Shop</a>
                      </li>
                      <li class="breadcrumb-item">
                        Product
                      </li>
                </ol>

              </div>
              <div class="col-12 col-md-auto">

                <!-- Select -->
                <select class="custom-select custom-select-xs">
                  <option selected="">Most popular</option>
                    <option selected="">Most popular</option>
                    <option selected="">Most popular</option>
                </select>

              </div>
            </div>
<!--            Tags-->
            <div class="row mb-7">
              <div class="col-12">

                <span class="btn btn-xs btn-light font-weight-normal text-muted mr-3 mb-3">
                  Shift dresses <a class="text-reset ml-2" href="#!" role="button">
                    <i data-feather="x" style = "width: 15px;height: 15px ;"></i>
                  </a>
                </span>
                <span class="btn btn-xs btn-light font-weight-normal text-muted mr-3 mb-3">
                  M <a class="text-reset ml-2" href="#!" role="button">
                     <i data-feather="x" style = "width: 15px;height: 15px ;"></i>
                  </a>
                </span>
                <span class="btn btn-xs btn-light font-weight-normal text-muted mr-3 mb-3">
                  $10.00 - $49.00 <a class="text-reset ml-2" href="#!" role="button">
                     <i data-feather="x" style = "width: 15px;height: 15px ;"></i>
                  </a>
                </span>
                <span class="btn btn-xs btn-light font-weight-normal text-muted mr-3 mb-3">
                  $50.00 - $99.00 <a class="text-reset ml-2" href="#!" role="button">
                     <i data-feather="x" style = "width: 15px;height: 15px ;"></i>
                  </a>
                </span>

              </div>
            </div>
<!--            Products-->
            <div class="row">
              <div class="col-6 col-md-4">

                <!-- Card -->
                <div class="card mb-7">

                  <!-- Badge -->
                  <div class="badge badge-white card-badge card-badge-left text-uppercase">
                    New
                  </div>

                  <!-- Image -->
                  <div class="card-img">

                    <!-- Image -->
                    <a href="#!">
                      <img class="card-img-top card-img-front" src="/Views/img/clothing6.png" alt="...">
                    </a>

                    <!-- Actions -->
                    <div class="card-actions">
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="modal" data-target="#modalProduct">
                          <i data-feather="eye" style = "width: 15px;height: 15px ;"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                            <i data-feather="shopping-cart" style = "width: 15px;height: 15px ;"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                          <i data-feather="heart" style = "width: 15px;height: 15px ;"></i>
                        </button>
                      </span>
                    </div>

                  </div>

                  <!-- Body -->
                  <div class="card-body px-0">

                    <!-- Category -->
                    <div class="font-size-xs">
                      <a class="text-muted" href="shop.html">Shoes</a>
                    </div>

                    <!-- Title -->
                    <div class="font-weight-bold">
                      <a class="text-body" href="product.html">
                        Leather mid-heel Sandals
                      </a>
                    </div>

                    <!-- Price -->
                    <div class="font-weight-bold text-muted">
                      $129.00
                    </div>

                  </div>

                </div>

              </div>
              <div class="col-6 col-md-4">

                <!-- Card -->
                <div class="card mb-7">

                  <!-- Image -->
                  <div class="card-img">

                    <!-- Image -->
                    <a href="#!">
                      <img class="card-img-top card-img-front" src="/Views/img/clothing6.png" alt="...">
                    </a>

                    <!-- Actions -->
                    <div class="card-actions">
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="modal" data-target="#modalProduct">
                          <i class="fe fe-eye"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                          <i class="fe fe-shopping-cart"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                          <i class="fe fe-heart"></i>
                        </button>
                      </span>
                    </div>

                  </div>

                  <!-- Body -->
                  <div class="card-body px-0">

                    <!-- Category -->
                    <div class="font-size-xs">
                      <a class="text-muted" href="shop.html">Dresses</a>
                    </div>

                    <!-- Title -->
                    <div class="font-weight-bold">
                      <a class="text-body" href="product.html">
                        Cotton floral print Dress
                      </a>
                    </div>

                    <!-- Price -->
                    <div class="font-weight-bold text-muted">
                      $40.00
                    </div>

                  </div>

                </div>

              </div>
              <div class="col-6 col-md-4">

                <!-- Card -->
                <div class="card mb-7">

                  <!-- Badge -->
                  <div class="badge badge-dark card-badge card-badge-left text-uppercase">
                    Sale
                  </div>

                  <!-- Image -->
                  <div class="card-img">

                    <!-- Image -->
                    <a href="#!">
                      <img class="card-img-top card-img-front" src="/Views/img/clothing1.png" alt="...">
                    </a>


                    <!-- Actions -->
                    <div class="card-actions">
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="modal" data-target="#modalProduct">
                          <i class="fe fe-eye"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                          <i class="fe fe-shopping-cart"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                          <i class="fe fe-heart"></i>
                        </button>
                      </span>
                    </div>

                  </div>

                  <!-- Body -->
                  <div class="card-body px-0">

                    <!-- Category -->
                    <div class="font-size-xs">
                      <a class="text-muted" href="shop.html">Shoes</a>
                    </div>

                    <!-- Title -->
                    <div class="font-weight-bold">
                      <a class="text-body" href="product.html">
                        Leather Sneakers
                      </a>
                    </div>

                    <!-- Price -->
                    <div class="font-weight-bold">
                      <span class="font-size-xs text-gray-350 text-decoration-line-through">$85.00</span>
                      <span class="text-primary">$65.00</span>
                    </div>

                  </div>

                </div>

              </div>
              <div class="col-6 col-md-4">

                <!-- Card -->
                <div class="card mb-7">

                  <!-- Image -->
                  <div class="card-img">

                    <!-- Image -->
                    <a href="#!">
                      <img class="card-img-top card-img-front" src="/Views/img/clothing2.png" alt="...">
                    </a>


                    <!-- Actions -->
                    <div class="card-actions">
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="modal" data-target="#modalProduct">
                          <i class="fe fe-eye"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                          <i class="fe fe-shopping-cart"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                          <i class="fe fe-heart"></i>
                        </button>
                      </span>
                    </div>

                  </div>

                  <!-- Body -->
                  <div class="card-body px-0">

                    <!-- Category -->
                    <div class="font-size-xs">
                      <a class="text-muted" href="shop.html">Tops</a>
                    </div>

                    <!-- Title -->
                    <div class="font-weight-bold">
                      <a class="text-body" href="product.html">
                        Cropped cotton Top
                      </a>
                    </div>

                    <!-- Price -->
                    <div class="font-weight-bold text-muted">
                      $29.00
                    </div>

                  </div>

                </div>

              </div>
              <div class="col-6 col-md-4">

                <!-- Card -->
                <div class="card mb-7">

                  <!-- Image -->
                  <div class="card-img">

                    <!-- Image -->
                    <a href="#!">
                      <img class="card-img-top card-img-front" src="/Views/img/clothing5.png" alt="...">
                    </a>

                    <!-- Actions -->
                    <div class="card-actions">
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="modal" data-target="#modalProduct">
                          <i class="fe fe-eye"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                          <i class="fe fe-shopping-cart"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                          <i class="fe fe-heart"></i>
                        </button>
                      </span>
                    </div>

                  </div>

                  <!-- Body -->
                  <div class="card-body px-0">

                    <!-- Category -->
                    <div class="font-size-xs">
                      <a class="text-muted" href="shop.html">Dresses</a>
                    </div>

                    <!-- Title -->
                    <div class="font-weight-bold">
                      <a class="text-body" href="product.html">
                        Floral print midi Dress
                      </a>
                    </div>

                    <!-- Price -->
                    <div class="font-weight-bold text-muted">
                      $50.00
                    </div>

                  </div>

                </div>

              </div>
              <div class="col-6 col-md-4">

                <!-- Card -->
                <div class="card mb-7">

                  <!-- Badge -->
                  <div class="badge badge-dark card-badge card-badge-left text-uppercase">
                    Sale
                  </div>

                  <!-- Image -->
                  <div class="card-img">

                    <!-- Image -->
                    <a href="#!">
                      <img class="card-img-top card-img-front" src="/Views/img/clothing3.png" alt="...">
                    </a>


                    <!-- Actions -->
                    <div class="card-actions">
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="modal" data-target="#modalProduct">
                          <i class="fe fe-eye"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                          <i class="fe fe-shopping-cart"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                          <i class="fe fe-heart"></i>
                        </button>
                      </span>
                    </div>

                  </div>

                  <!-- Body -->
                  <div class="card-body px-0">

                    <!-- Category -->
                    <div class="font-size-xs">
                      <a class="text-muted" href="shop.html">Bags</a>
                    </div>

                    <!-- Title -->
                    <div class="font-weight-bold">
                      <a class="text-body" href="product.html">
                        Suede cross body Bag
                      </a>
                    </div>

                    <!-- Price -->
                    <div class="font-weight-bold">
                      <span class="font-size-xs text-gray-350 text-decoration-line-through">$79.00</span>
                      <span class="text-primary">$49.00</span>
                    </div>

                  </div>

                </div>

              </div>
              <div class="col-6 col-md-4">

                <!-- Card -->
                <div class="card mb-7">

                  <!-- Image -->
                  <div class="card-img">

                    <!-- Image -->
                    <a href="#!">
                      <img class="card-img-top card-img-front" src="/Views/img/clothing4.png" alt="...">
                    </a>

                    <!-- Actions -->
                    <div class="card-actions">
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="modal" data-target="#modalProduct">
                          <i class="fe fe-eye"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                          <i class="fe fe-shopping-cart"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                          <i class="fe fe-heart"></i>
                        </button>
                      </span>
                    </div>

                  </div>

                  <!-- Body -->
                  <div class="card-body px-0">

                    <!-- Category -->
                    <div class="font-size-xs">
                      <a class="text-muted" href="shop.html">Skirts</a>
                    </div>

                    <!-- Title -->
                    <div class="font-weight-bold">
                      <a class="text-body" href="product.html">
                        Printed A-line Skirt
                      </a>
                    </div>

                    <!-- Price -->
                    <div class="font-weight-bold text-muted">
                      $79.00
                    </div>

                  </div>

                </div>

              </div>
              <div class="col-6 col-md-4">

                <!-- Card -->
                <div class="card mb-7">

                  <!-- Badge -->
                  <div class="badge badge-white card-badge card-badge text-uppercase">
                    New
                  </div>

                  <!-- Image -->
                  <div class="card-img">

                    <!-- Image -->
                    <a href="#!">
                      <img class="card-img-top card-img-front" src="/Views/img/clothing7.png" alt="...">
                    </a>


                    <!-- Actions -->
                    <div class="card-actions">
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="modal" data-target="#modalProduct">
                          <i class="fe fe-eye"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                          <i class="fe fe-shopping-cart"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                          <i class="fe fe-heart"></i>
                        </button>
                      </span>
                    </div>

                  </div>

                  <!-- Body -->
                  <div class="card-body px-0">

                    <!-- Category -->
                    <div class="font-size-xs">
                      <a class="text-muted" href="shop.html">Shoes</a>
                    </div>

                    <!-- Title -->
                    <div class="font-weight-bold">
                      <a class="text-body" href="product.html">
                        Heel strappy Sandals
                      </a>
                    </div>

                    <!-- Price -->
                    <div class="font-weight-bold text-muted">
                      $90.00
                    </div>

                  </div>

                </div>

              </div>
            </div>
            
            
            
            
            
            
        
    </div>
    
</div>
</div>
        
        
        
        
        
        
        
        
        
        
        
        
        
    <script src="bootstrap/js/bootstrap.min.js"></script>
        <script>
      feather.replace()
    </script>
      <script src="https://kit.fontawesome.com/8039564289.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        
  </body>
</html>
    