<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NDTP</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet"  href="admin.css">
      <style>
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@600&family=Lato&family=Nova+Square&display=swap');
</style>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
    
  <body>
    
    <div class ="container-fluid">
      <div class = "row justify-content-center d-flex" style="background-color: #FA9AB1">
        <div  class="d-flex align-items-center" style = "height:30px;">
               <b  style="color:black; font-family: 'Lato', sans-serif; font-size: 13px ">HEY GUY, DON'T MISS OUT</b>
        </div>
      </div>
      
        <div class = "row justify-content-end" style="height:80px;background-color: white">
<!--            MEN WOMAN-->
            <div class ="col align-items-end">
                <div style = "padding-top: 40px;">
                <button type="button" style = "font-weight: bold" class="btn btn-light">MENS</button>
                <button type="button" style = "font-weight: bold" class="btn btn-light">WOMANS</button>
                </div>
                
            </div>

           <div  class="col-4 text-center" style = " font-size: 50px">
               <p  style="color:black;font-family: 'Kodchasan', sans-serif;">NDTP</p>
        </div>
            
<!--  PROFILE, SEARCH, WISHLIST, BAG          -->
            <div class ="col-md-4 col-sm-8 col-6">
                <div class = "row align-items-center justify-content-end" style = "padding-top:30px">
                    <div class = "col-2 col-md-2 col-xl-2" style = "max-width: 80px">
                    <i class="fas fa-user" style = "color: gray; font-size: 30px"></i>
                    </div>
                    
                    <div class = "col-2 col-md-2 col-xl-2" style = "max-width: 80px">
                    <i class="fas fa-search" style = "color: gray; font-size: 30px"></i>       
                    </div>
                    
                    <div class = "col-2 col-md-2 col-xl-2" style = "max-width: 80px">
                    <i class="fas fa-heart" style = "color: gray; font-size: 30px"></i>       
                    </div>
                    
                    <div class = "col-2 col-md-2 col-xl-2" style = "max-width: 80px">
                    <i class="fas fa-shopping-bag" style = "color: gray; font-size: 30px"></i>       
                    </div>
                    
                    <div class = "col-md-2">
                    </div>
                    
                </div>
              
            
            </div>
                
            
      </div>
<!--      MENU-->
      <div class = "row justify-content-center " style="background-color: #EFEEEF;">
        
        <div class=" col-md-6 btn-group col align-self-center" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-menu">JEANS</button>
          <button type="button" class="btn btn-menu">SHIRTS</button>
          <button type="button" class="btn btn-menu">DRESSES</button>
          <button type="button" class="btn btn-menu">SLEEPWEAR</button>
          <button type="button" class="btn btn-menu">SWIMWEAR</button>
        </div>
          
      </div>
<!--        SLOGAN-->
        <div class = "row justify-content-center d-flex" style="background-color: #FCE5EB">
        <div  class="d-flex align-items-center" style = "height:90px;padding-top: 10px">
               <p  style="color:#FA9AB1; font-family: 'Lato', sans-serif; font-size: 30px ">WE’RE WORKING HARD TO GET ORDERS TO YOU SAFELY AND ON THE TIME.</p>
        </div>
      </div>
<!--Shopping bag  +  order bills-->
<div class = "row">
<!--    Shopping bag-->
    <div class = "col-8">
        <div class = "row">
            <h6 style = "padding-left: 5%; padding-top: 10px"> Shopping bag</h6>
        </div>
        <div class = "row" style = "background-color: #f6f6f6">
            <p></p>
        </div>
        
    </div>
    <div class = "col-4">
    </div>
    
        </div>
        
       
        
        
        
        
        
    
    </div>
      
      <script src="bootstrap/js/bootstrap.min.js"></script>
      <script src="https://kit.fontawesome.com/8039564289.js" crossorigin="anonymous"></script>
  </body>
</html>