@model WebApplication2.Models.Address

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Address</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="customer" class="control-label"></label>
                <input asp-for="customer" class="form-control" />
                <span asp-validation-for="customer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="detail" class="control-label"></label>
                <input asp-for="detail" class="form-control" />
                <span asp-validation-for="detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label"></label>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isDefaultAddress" /> @Html.DisplayNameFor(model => model.isDefaultAddress)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isHomeAddress" /> @Html.DisplayNameFor(model => model.isHomeAddress)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
