@model WebApplication2.Models.Payment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Payment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="order" class="control-label"></label>
                <input asp-for="order" class="form-control" />
                <span asp-validation-for="order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paid" class="control-label"></label>
                <input asp-for="paid" class="form-control" />
                <span asp-validation-for="paid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="payer" class="control-label"></label>
                <input asp-for="payer" class="form-control" />
                <span asp-validation-for="payer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="method" class="control-label"></label>
                <input asp-for="method" class="form-control" />
                <span asp-validation-for="method" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="note" class="control-label"></label>
                <input asp-for="note" class="form-control" />
                <span asp-validation-for="note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

