@model WebApplication2.Models.Promotion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Promotion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="admin" class="control-label"></label>
                <input asp-for="admin" class="form-control" />
                <span asp-validation-for="admin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="created" class="control-label"></label>
                <input asp-for="created" class="form-control" />
                <span asp-validation-for="created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="due" class="control-label"></label>
                <input asp-for="due" class="form-control" />
                <span asp-validation-for="due" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="by" class="control-label"></label>
                <input asp-for="by" class="form-control" />
                <span asp-validation-for="by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="discount" class="control-label"></label>
                <input asp-for="discount" class="form-control" />
                <span asp-validation-for="discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <textarea asp-for="description" class="form-control"></textarea>
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

