
@*<head>
    <link href="~/css/home-new.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>*@




<div class="row">
    <!--        Woman-->
    <div class="col-6 " style="padding: 20px 0 20px 0">

        <!-- Background -->

        <div class="n-bgwoman">
            <!--               Body -->
            <div class="card-body my-auto" style="padding-top: 152px">

                <!-- Heading -->
                <h5 class="row n-cate justify-content-center">Women</h5>

                <!-- Link -->
                <div class="row  justify-content-center" style="padding-top: 150px">
                    <button class="row btn btn-light btn-cate justify-content-center">
                        Shop Women <i data-feather="arrow-right" style="width: 20px;height: 20px;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--            Men-->
    <div class="col-6 " style="padding: 20px 0 20px 0">

        <!-- Background -->

        <div class="n-bgmen">
            <!--               Body -->
            <div class="card-body my-auto" style="padding-top: 152px">

                <!-- Heading -->
                <h5 class="row n-cate justify-content-center">Men</h5>

                <!-- Link -->
                <div class="row  justify-content-center" style="padding-top: 150px">
                    <button class="row btn btn-light btn-cate justify-content-center">
                        Shop Men <i data-feather="arrow-right" style="width: 20px;height: 20px;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>