
@{
    ViewData["Title"] = "Home";

}




    <div class="row">
        <!--        Woman-->
        <div class="col-6 " style="padding: 20px 0 20px 0">

            <!-- Background -->

            <div class="n-bgwoman">
                <!--               Body -->
                <div class="card-body my-auto" style="padding-top: 152px">

                    <!-- Heading -->
                    <h5 class="row n-cate justify-content-center">Women</h5>

                    <!-- Link -->
                    <div class="row justify-content-center" style="padding-top: 150px">
                        <button class="row btn btn-light btn-cate justify-content-center">
                            <a asp-action="Catalog">
                                Shop Women
                            </a>
                            <i data-feather="arrow-right" style="width: 20px;height: 20px;"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--            Men-->
        <div class="col-6 " style="padding: 20px 0 20px 0">

            <!-- Background -->

            <div class="n-bgmen">
                <!--               Body -->
                <div class="card-body my-auto" style="padding-top: 152px">

                    <!-- Heading -->
                    <h5 class="row n-cate justify-content-center">Men</h5>

                    <!-- Link -->
                    <div class="row  justify-content-center" style="padding-top: 150px">
                        <button class="row btn btn-light btn-cate justify-content-center">
                            Shop Men <i data-feather="arrow-right" style="width: 20px;height: 20px;"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--Features-->
        <div class="row col-12 justify-content-center">
            <div class="col-12 col-md-6 col-lg-2 ">

                <!-- Item -->
                <div class="d-flex mb-6 mb-lg-0">

                    <!-- Icon -->
                    <i data-feather="truck" style="width: 20px;height: 20px; color: #fd7e14"></i>

                    <!-- Body -->
                    <div class="ml-6" style="padding-left: 10px">

                        <!-- Heading -->
                        <h6 class="heading-xxs mb-1" style="font-size: 13px;">
                            FREE SHIPPING
                        </h6>

                        <!-- Text -->
                        <p class="mb-0 font-size-sm text-muted" style="font-size: 15px;">
                            From all orders over $100
                        </p>

                    </div>

                </div>

            </div>
            <div class="col-12 col-md-6 col-lg-2 ">

                <!-- Item -->
                <div class="d-flex mb-6 mb-lg-0">

                    <!-- Icon -->
                    <i data-feather="repeat" style="width: 20px; height: 20px; color: #fd7e14"></i>

                    <!-- Body -->
                    <div class="ml-6" style="padding-left: 10px">

                        <!-- Heading -->
                        <h6 class="heading-xxs mb-1" style="font-size: 13px;">
                            FREE RETURNS
                        </h6>

                        <!-- Text -->
                        <p class="mb-0 font-size-sm text-muted" style="font-size: 15px;">
                            Return money within 30 days
                        </p>

                    </div>

                </div>

            </div>
            <div class="col-12 col-md-6 col-lg-2 ">

                <!-- Item -->
                <div class="d-flex mb-6 mb-lg-0">

                    <!-- Icon -->
                    <i data-feather="lock" style="width: 20px;height: 20px; color: #fd7e14"></i>

                    <!-- Body -->
                    <div class="ml-6" style="padding-left: 10px">

                        <!-- Heading -->
                        <h6 class="heading-xxs mb-1" style="font-size: 13px;">
                            SECURE SHOPPING
                        </h6>

                        <!-- Text -->
                        <p class="mb-0 font-size-sm text-muted" style="font-size: 15px;">
                            You're in safe hands
                        </p>

                    </div>

                </div>

            </div>
            <div class="col-12 col-md-6 col-lg-2 ">

                <!-- Item -->
                <div class="d-flex mb-6 mb-lg-0">

                    <!-- Icon -->
                    <i data-feather="tag" style="width: 20px;height: 20px; color: #fd7e14"></i>

                    <!-- Body -->
                    <div class="ml-6" style="padding-left: 10px">

                        <!-- Heading -->
                        <h6 class="heading-xxs mb-1" style="font-size: 13px;">
                            OVER 10,000 STYLES
                        </h6>

                        <!-- Text -->
                        <p class="mb-0 font-size-sm text-muted" style="font-size: 15px;">
                            We have everything you need
                        </p>

                    </div>

                </div>

            </div>


        </div>

    </div>