@model IEnumerable<string>
@{
    ViewData["Title"] = "Default";
}

<h1>Default</h1>
<div>
    @foreach(var op in Model)
    {
        <a asp-controller="Admin" asp-action="@op">Product</a>
    }
</div>
